@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Spectral+SC:ital,wght@1,200&display=swap');
/*********
Começo do CSS
*********/
* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Kelly Slab', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia' sans-serif;
}
h2 {
    /* ~ 50px */
    font-size: 3.75em;
}
h3 {
    /* ~30px */
    font-size: 1.875em;
}
h4 {
    /* ~20px */
    font-size: 1.25em;
}
p {
    font-size: 1.2em;
}

/*
#########################################################################################
    HEADER
#########################################################################################
*/

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.875em 6.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
header ul {
    padding-left: 0;
}
header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1.25em;
}
header ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.container {
    max-width: 72.875em;
    margin: 0 auto;
}

#minhaLogo {
    width: 12.5em;
}
.logo {
    max-width: 12.5em;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, .25);
    transition: all ease 7s;
}
.logo:hover {
    transform: scale(1.5);
}
.logo:active {
    transform: scale(0.5);
}

.logoProjeto {
    width: 30em;
}

.itemMenu a {
    font-weight: bold;
    color: #5a5a5a;
}
.itemMenu:hover {
    transition: all ease 0.3s;
    transform: scale(1.3);
}

.text h2 {
    border-radius: 0.2em;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}
.text p span {
    background-color: #000;
}

/*
#########################################################################################
    BANNER
#########################################################################################
*/

.banner {
    height: 100vh;
    background: url(../images/banner.png) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
}
.banner .text {
    text-align: center;
    padding-bottom: 6.25em;
}
.banner h1 {
    line-height: 5em;
    font-weight: 300;
    margin-bottom: 0.625em;
}

/* BOTÕES GLOBAIS */
.btn {
    position: relative;
    display: inline-block;
    width: 15.625em;
    height: 3.75em;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 3.75em;
    z-index: 9;
    margin-top: 3.125em;
    transition: all ease 0.5s;
}
.btn::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: 0.9;
    z-index: -1;
    transition: all ease 0.5s;
}
.btn:hover {
    color: #fff;
}
.btn:hover:before {
    top: 0;
    height: 100%;
}

/*
#########################################################################################
    BRAND
#########################################################################################
*/

.brand-logo {
    padding: 1.875em 0;
}
.brand-logo-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.fotoBrand {
    width: 7em;
}

.btnBrand {
    transition: 1.5s;
}
.btnBrand:hover {
    transform: scale(1.2);
}


/*
#########################################################################################
SETOR 01
#########################################################################################
*/
.sec1 {
    position: relative;
    padding: 5em 0;
}
.sec1 h3 {
    text-transform: uppercase;
    line-height: 1.5em;
}
.sec1 p {
    line-height: 2em;
}
.sec1-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text {
    width: 47%;
}
.sec1 .text-left {
    text-align: right;
}
.sec1 .text-right {
    text-align: left;
}
.sec1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

/*
#########################################################################################
SETOR 02
#########################################################################################
*/

.sec2 {
    padding: 6.25em 0 0;
}
.sec2 h3 {
    text-transform: uppercase;
}
.sec2 p {
    line-height: 1.875;
}
.sec2 .text-inner {
    position: relative;
    margin: 3.4em 0 0 11.875em;
}
.sec2 .text-inner::before {
    content: '';
    position: absolute;
    top: 0.5em;
    left: -1.875em;
    width: 0.1em;
    height: 100%;
    background: linear-gradient(to top, transparent, #fff);
}

.sec2-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec2-inner .img {
    width: auto;
}
.sec2-inner .text {
    width: 50%;
    margin-left: -4.05em;
    z-index: 9;
}

.letf-right-sec:nth-child( even ) .text {
    margin-right: -4.05em;
    text-align: right;
}
.letf-right-sec:nth-child( even ) .text-inner {
    margin: 3.4em 11.875em 0 0;
}
.letf-right-sec:nth-child( even ) .text-inner::before{
    left: inherit;
    right: -1.875em;
}

/*
#########################################################################################
    SETOR 03
#########################################################################################
*/

.sec3 {
    padding: 9.375em 0 0;
}
.sec3 h3 {
    text-transform: uppercase;
    max-width: 60%;
}

/* Ajuste da resolucao das imagens de rolagens */
.sec3-slider .item .logoProjeto {
    width: 24em;
}
.sec3-slider {
    margin-top: 3em;
}

/* Sem efeito notável 
.slick-arrow {
    position: relative;
    top: 5em;
}

.slick-prev {
    left: inherit;
    right: 11.25em;
}

.slick-next {
    right: 90px;
}
----------------------------------------------------------
    TEM EFEITO NOTÁVEL MAS FICA DESCONFIGURADO

.slick-nex::before,
.slick-prev::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url(../images/arrow-next.svg) no-repeat;
    background-size: 0.9em;
    background-position: center;
    width: 3em;
    height: 3em;
    line-height: 3em;
    border: 0.1em solid #fff;
    opacity: 1;
}
.slick-perev::before {
    background: transparent url(../images/arrow-prev.svg) no-repeat;
    background-size: 0.9em;
    background-position: center;

}
*/

/*
#########################################################################################
    SETOR 04
#########################################################################################
*/

/* Controle de imagem */
.box .img img {
    width: 16.5em;
}

.sec4 {
    padding: 6em 0;
}
.sec4 h3 {
    text-transform: uppercase;
}
.sec4-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5.625em;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 16em;
    border: 0.1em solid #fff;
    margin-bottom: 2.5em;
    overflow: hidden;
}
.box h6{
    font-family: Space Grotesk;
    font-size: 1.1em;
    font-weight: 400;
}
.sec4-boxes .img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all ease 1.5s;
}
.box:hover .img {
    opacity: 1;
}

/*
#########################################################################################
    FOOTER
#########################################################################################
*/
/* Resolução logo footer */
.logoFooter {
    width: 7em;
}

footer {
    position: relative;
    padding: 2.5em 0;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-inner .column {
    padding-right: 2em;
}

footer ul {
    margin-left: 0;
}
footer ul li {
    list-style: none;
    margin-bottom: 0.5em;
}
footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

/*
#########################################################################################
    Copyright
#########################################################################################
*/

.copyright {
    padding: 1.5em 0;
    text-align: center;
}
.copyright p {
    font-size: 0.8em;
}